<?xml version="1.0" encoding="utf-8"?>
<oxo-config>
	<cells>
		<width>10</width>
		<height>6</height>
    	<cell>
			<coords><x>0</x><y>0</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/194.gif</image>
			<text>blog</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_orange.gif</background>
			<url>http://snaggled.github.com</url>
		</cell>
    	<cell>
			<coords><x>0</x><y>1</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/191.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_green.gif</background>
			<url>http://snaggled.github.com</url>
		</cell> 
    	<cell>
			<coords><x>0</x><y>2</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/190.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_green.gif</background>
			<url>http://snaggled.github.com</url>
		</cell>
    	<cell>
			<coords><x>0</x><y>3</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/189.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_green.gif</background>
			<url>http://snaggled.github.com</url>
		</cell>  
    	<cell>
			<coords><x>1</x><y>2</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/189.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_green.gif</background>
			<url>http://snaggled.github.com</url>
		</cell> 
    	<cell>
			<coords><x>2</x><y>3</y></coords>
			<image>http://static01.symbaloo.com/_img/icon/search_124.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_red.gif</background>
			<url>http://snaggled.github.com</url>
		</cell>
    	<cell>
			<coords><x>3</x><y>4</y></coords>
			<image>http://symbaloo.com/_img/icon/custom/default/252.gif</image>
			<text>google</text>
			<color>#ffffff</color>
			<background>http://static01.symbaloo.com/_img/icon_background_purple.gif</background>
			<url>http://snaggled.github.com</url>
		</cell>
    	<cell>
			<coords><x>4</x><y>5</y></coords>
			<image>http://static01.symbaloo.com/_img/icon/link_556.gif</image>
			<text></text>
			<color>#000000</color>
			<background>http://static01.symbaloo.com/_img/icon_background_white.gif</background>
			<url>http://facebook.com</url>
		</cell>
	</cells>
</oxo_config>